# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Keep dataset and model tracked (do NOT ignore data/ or models/)
!data/
!models/

